.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: rgb(12, 12, 12);
    color: rgb(18, 211, 236);
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; 
  }

  body {
    background-image: url("../Images/pirate\ background\ 3.jpg");
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

  h1 { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:crimson;
    font-size: 35px;
    padding-top: 35px;
}

  p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-shadow:rgb(255, 255, 255) 0px 0px 15px;
    color: blue; 
    padding-top: 15px;
    } 

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 40px; 
  }
  
h2 { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: blue;   
  padding-top: 50px;
  text-shadow:white 0px 0px 15px;
  background-size: 35px;
  text-decoration:underline;
  text-decoration-color: blue;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: blue;   
  padding-top: 50px;
  text-shadow:white 0px 0px 15px;
  background-size: 35px;
  text-decoration:underline;
  text-decoration-color: blue;
}

h4{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: blue;   
  padding-top: 50px;
  text-shadow:white 0px 0px 15px;
  background-size: 35px;
  text-decoration:underline;
  text-decoration-color: blue;
}
.image1 {
display: block;
    margin-left: auto;
    margin-right: auto;
    width:35%;
    padding-top: 40px
}

.image2 {
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
}

.image3 {
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 40px
}

.image4 {
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 40px
}

.image5{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
}
.image6{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
}

.image7{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px
}
.image8{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px
}
.image9{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
}
.image10{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 40px
}

.image11{
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 40px
}
.image12{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
}
.image13{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px
}
.image14 {
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px;
 }
 .image15{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px;
 }
 .image16{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
 }
 .image17{
  margin-left: auto;
  margin-right: auto;
  width:55%;
  padding-top: 40px;
 }
 .image18{
  margin-left: auto;
  margin-right: auto;
  width:40%;
  padding-top: 40px
 }
 .image19{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
 }
 .image20{
  margin-left: auto;
  margin-right: auto;
  width:35%;
  padding-top: 40px
 }
 